.full-quiz-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    width: 100vw;
    position: relative;
}

.wavey-class {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
}

@keyframes questions-div-animation {
    from {
        opacity: 0;
    } to {
        opacity: 1;
    }
}

.questions-div {
    text-align: center;
    background-color: white;
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    box-shadow: 1px 3px 8px 0.15px #c9b9b9;
    border-radius: 25px;
    width: 60%;
    height: 25%;
    position: relative;
    padding: 50px 20px;
    animation: questions-div-animation 2.5s;
}

.outer-icon {
    width: 75px;
    height: 75px;
    top: 1%;
    left: 1.5%;
    position: absolute;
}

.left-icon {
    position: absolute;
    color: white;
    z-index: 1;
    font-size: 35px;
    top: 2%;
    left: 1.5%;
    width: 20px;
    cursor: pointer;
}

.right-icon{
    position: absolute;
    color: white;
    z-index: 1;
    font-size: 35px;
    top: 2%;
    right: 1.5%;
    width: 20px;
    cursor: pointer;
}

svg {
    width:100%;
    height: 100%;
    position:relative;
  }

.ad {
    z-index: 1;   
    width: 100%; 
    height: 5%;
    padding: 0.5% 0px 3% 0px;
    margin: 2% 0% 0% 0%;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.ad p {
    font-weight: bold;
    color: white;
}

.ruler {
    width: 50;
}


.answers-div {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3%;
}

.answers-div-img {
    margin-top: 1%;
    width: 30%;
    display: grid;
    grid-template-columns: auto auto;
    gap: 10px;
}


@media screen and (max-width: 768px) {
    .questions-div {
        width: 90%;
        margin-top: 15%;
        /* height: 25%; */
        padding: 25px 105px;
    }   
    .left-icon {
        top: 2%;
        left: 2.25%;
        font-size: 25px;
    }
    .right-icon {
        top: 2%;
        right: 2.25%;
        font-size: 25px;
    }
    svg {
        height: 300px;
    }
    .ad {
        gap: 20px;
        padding-top: 3%;
        padding-bottom: 2%;
    }
    .ad p {
        font-size: 12px;
        font-weight: 100;
    }
    .answers-div {
        margin-top: 12.5%;
    }
    .answers-div-img {
        margin-top: 8%;
        width: 90%;
        gap: 15px;
    }

}