.main-div-payment-paypal {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1% 5% 5% 15%;
    width: 100vw;
}

.user-details {
    display: flex;
    flex-direction: column;
}

.payment-title {
    font-weight: 400;
    color: black;
}

.payment-second-title {
    font-weight: 600;
    font-size: 30px;
    color: black;
}

.nav-bar-payment-div {

}

@media screen and (max-width: 768px) {
    .main-div-payment-paypal {
        flex-direction: column;
        padding: 15.5% 10% 5% 15%;
    }   
    .payment-second-title {
        font-size: 25px;
    }
}