.number-growth-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 80px;
}

.numbers-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.titles-numbers-div {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
    text-align: center;
    gap: 5px;
}

.titles-numbers-div h3 {
    color: #8795a1;
}

.numbers-animation-div {
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
    flex-wrap: wrap;
}